{% extends "music/base.html" %}
{% block title %}{{album.artist}}-{{album.album_title}}{% endblock %}
{% block body %}

<div class="container">
  <div class="page-header">
<h1>{{album.artist}}-{{album.album_title}}</h1>
      <small>{{album.genre}}</small><br>
<img src="{{album.album_logo.url}}" class="img-responsive" style="width:10%"/>

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{%endif%}

    {% for song in album.song_set.all %}

        <a href="{% url 'music:favorite' song.id %}"><span class="glyphicon glyphicon-star"></span></a>
        <label>
            {{song.song_title}}
            {% if song.is_favorite %}
            <span class="glyphicon glyphicon-star"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
        </label><br>
    {% endfor %}



</div>
</div>
{% endblock %}