{% extends "music/base.html" %}
{% block title %}{{user.username}}-Profile{% endblock %}
{% block body %}

<div class="container-fluid well span6" style="width:25%;">
	<div class="row-fluid">
        <div class="span2" >
		    <img src="../../../media/nopp.png" class="img-circle">
        </div>

        <div class="span8">
            <h3>{{user.username}}</h3>
            <h6>E-Mail :{{user.email}}</h6>
            <h6>Last Seen :{{user.last_login}}</h6>
            <h6>Register Date:{{user.date_joined}}</h6>
        </div>


</div>
</div>



{% endblock %}