body{
    background: white url("images/bc2.jpg");
    background-size: 100% auto;


}

.navbar{
    border-radius: 0;
}
.navbar-brand{
font-family: 'Baloo Bhaina', cursive;
}
#navbar{
font-family: 'Indie Flower', cursive;
}
.container{
background-color: white;}